body {
  width: 760px;
  font-size: 1.0em;
  font-family: trebuchet ms;
  background: #22272f;
  color: #7c8aa1;
  margin: 0 auto;
  padding: 20px; }

a {
  color: #fff; }

#from, #to {
  width: 754px;
  height: 200px;
  overflow: auto;
  padding: 0.25em;
  border: 1px solid #888;
  font-size: 1.0em;
  font-family: consolas;
  background: #282e38;
  color: #7c8aa1;
  border: 2px solid #37404d;
  border-radius: 0.5em;
  outline: none; }

#from:focus {
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.15); }

#to.error {
  background: #f00; }
