body {
  width: 760px;
  font-size: 1.0em;
  font-family: trebuchet ms;
  background: #191c22;
  color: #717d96;
  margin: 0 auto;
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #3366dd;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

a {
  color: #fff; }

#from, #to {
  width: 754px;
  height: 200px;
  overflow: auto;
  padding: 0.25em;
  border: 1px solid #888;
  font-size: 1.0em;
  font-family: consolas;
  background: #1f232b;
  color: #717d96;
  border: 2px solid #2f343f;
  border-radius: 0.5em;
  outline: none; }

#from:focus {
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.15); }

#to.error {
  background: #f00; }

#fork {
  display: block;
  position: fixed;
  right: -1em;
  top: -1em;
  padding: 1.2em 2em 0.4em 2em;
  border-radius: 0 0 0 20em;
  background: #3366dd;
  color: #fff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5); }
